AlJebalSite/App_WebReferences/AlJebalCustomerRef/AlJebalCustomer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getCustomerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getCustomerInfoResult" type="tns:CustomerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cellphone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getCustomerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="getCustomerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getCustomerInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="AlJebalCustomerSoap">
    <wsdl:operation name="getCustomerInfo">
      <wsdl:input message="tns:getCustomerInfoSoapIn" />
      <wsdl:output message="tns:getCustomerInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlJebalCustomerSoap" type="tns:AlJebalCustomerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCustomerInfo">
      <soap:operation soapAction="http://tempuri.org/getCustomerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlJebalCustomerSoap12" type="tns:AlJebalCustomerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCustomerInfo">
      <soap12:operation soapAction="http://tempuri.org/getCustomerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlJebalCustomer">
    <wsdl:port name="AlJebalCustomerSoap" binding="tns:AlJebalCustomerSoap">
      <soap:address location="http://140.211.126.153/services/AlJebalCustomers/AlJebalCustomer.asmx" />
    </wsdl:port>
    <wsdl:port name="AlJebalCustomerSoap12" binding="tns:AlJebalCustomerSoap12">
      <soap12:address location="http://140.211.126.153/services/AlJebalCustomers/AlJebalCustomer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>